<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nalini.testing">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Testing"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".donner" />
        <activity android:name=".donner_login" />
        <activity android:name=".donner_option" />
        <activity android:name=".donner_profile" />
        <activity android:name=".donner_profile_edit" />
        <activity android:name=".needer" />
        <activity android:name=".needer_list" />
        <activity android:name=".options"></activity>
    </application>

</manifest>