<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nalini.testing">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Blood Finder"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".donner" />
        <activity android:name=".donner_login" />
        <activity android:name=".donner_option" />
        <activity android:name=".donner_profile" />
        <activity android:name=".donner_profile_edit" />
        <activity android:name=".needer" />
        <activity android:name=".needer_list" />
        <activity android:name=".options" />
        <activity
            android:name=".NavigationDrawer"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".WhyDonate" />
        <activity android:name=".WhoDonate" />
        <activity android:name=".Share" />
        <activity android:name=".Contact" />
        <activity android:name=".Faq" />
        <activity android:name=".About"></activity>
    </application>

</manifest>